<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace ="admin/fragments/head :: head"></head>

<body class="bg-theme bg-theme1">

<!-- Start wrapper-->
<div id="wrapper">

    <!--Start sidebar-wrapper-->
    <sidebar th:replace ="admin/fragments/sidebar :: sidebar"></sidebar>
    <!--End sidebar-wrapper-->

    <!--Start topbar header-->
    <header th:replace ="admin/fragments/header :: header"></header>
    <!--End topbar header-->

    <div class="clearfix"></div>

    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-12">
                    <div class="card">
                        <div class="mt-3">
                            <a th:href="@{/contacts/add}" class="btn btn-primary mb-3">Add New Contact</a>
                        </div>
                        <div class="card-header">Quản lí liên hệ
                            <div class="card-action">
                                <div class="dropdown">
                                    <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
                                        <i class="icon-options"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="javascript:void();">Action</a>
                                        <a class="dropdown-item" href="javascript:void();">Another action</a>
                                        <a class="dropdown-item" href="javascript:void();">Something else here</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="javascript:void();">Separated link</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush table-borderless">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Contact Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="contact : ${contacts}">
                                    <td th:text="${contact.name}"></td>
                                    <td th:text="${contact.email}"></td>
                                    <td th:text="${contact.phone}"></td>
                                    <td>
                                        <a th:href="@{/contacts/edit/{contactId}(contactId=${contact.id})}" class="btn btn-warning btn-sm">Edit</a>
                                        <a th:href="@{/contacts/delete/{contactId}(contactId=${contact.id})}" class="btn btn-danger btn-sm">Delete</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>
            </div><!--End Row-->

            <!--End Dashboard Content-->

            <!--start overlay-->
            <div class="overlay toggle-menu"></div>
            <!--end overlay-->

        </div>
        <!-- End container-fluid-->

    </div><!--End content-wrapper-->
    <!--Start Back To Top Button-->
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->


    <footer th:replace ="admin/fragments/footer :: footer"></footer>

    <!--start color switcher-->
    <div class="right-sidebar">
        <div class="switcher-icon">
            <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
        </div>
        <div class="right-sidebar-content">

            <p class="mb-0">Gaussion Texture</p>
            <hr>

            <ul class="switcher">
                <li id="theme1"></li>
                <li id="theme2"></li>
                <li id="theme3"></li>
                <li id="theme4"></li>
                <li id="theme5"></li>
                <li id="theme6"></li>
            </ul>

            <p class="mb-0">Gradient Background</p>
            <hr>

            <ul class="switcher">
                <li id="theme7"></li>
                <li id="theme8"></li>
                <li id="theme9"></li>
                <li id="theme10"></li>
                <li id="theme11"></li>
                <li id="theme12"></li>
                <li id="theme13"></li>
                <li id="theme14"></li>
                <li id="theme15"></li>
            </ul>

        </div>
    </div>
    <!--end color switcher-->

</div><!--End wrapper-->

<!-- Bootstrap core JavaScript-->
<script th:src="@{assets/js/jquery.min.js}"></script>
<script th:src="@{assets/js/popper.min.js}"></script>
<script th:src="@{assets/js/bootstrap.min.js}"></script>

<!-- simplebar js -->
<script th:src="@{assets/plugins/simplebar/js/simplebar.js}"></script>
<!-- sidebar-menu js -->
<script th:src="@{assets/js/sidebar-menu.js}"></script>
<!-- loader scripts -->
<script th:src="@{assets/js/jquery.loading-indicator.js}"></script>
<!-- Custom scripts -->
<script th:src="@{assets/js/app-script.js}"></script>
<!-- Chart js -->

<script th:src="@{assets/plugins/Chart.js/Chart.min.js}"></script>

<!-- Index js -->
<script th:src="@{assets/js/index.js}"></script>


</body>
</html>
